/pom.xml
*jar
/bin
/lib
/classes
/native
/.lein-failures
/checkouts
.idea/
.lein-repl-history
.lein-deps-sum
.lein-plugins
.nrepl-port
/.classpath
/.project
/.dir-locals.el
/*.eld
/target
*~
\#*
.DS_Store
.env
.vagrant/
*.swp
