{:port 31302
 :irods-host "HOSTNAME"
 :irods-port "1247"
 :irods-zone "iplant"
 :irods-home "/iplant/home"

 ; This should not be the anonymous user. It needs to be a user that has
 ; read access to the files in iRODS.
 :irods-user "USERNAME"
 :irods-password "PASSWORD"

 ; This *should* be the anonymous user. I can't think of a reason why it
 ; wouldn't be set to "anonymous", but I made it configurable just in case.
 :anon-user "anonymous"}
