pom.xml
*jar
/lib/
/classes/
/target/
.lein-deps-sum
.lein-failures
.lein-repl-history
*~
*.swp
.dir-locals.el
.nrepl-hist.eld
.nrepl-port
/.classpath
/.project
/.gradle
/bin
builds/
checkouts/
libs/clj-cas/clj-cas
libs/clj-icat-direct/clj-icat-direct
libs/clj-jargon/clj-jargon
libs/heuristomancer/heuristomancer
libs/iplant-clojure-commons/iplant-clojure-commons
libs/kameleon/kameleon
libs/mescal/mescal
libs/metadactyl/metadactyl
node_modules/

