/pom.xml
*jar
/bin
/lib
/classes
/native
/.lein-failures
/checkouts
.lein-deps-sum
.lein-plugins
/.classpath
/.project
/.dir-locals.el
/*.eld
/target
/donkey
/donkey.spec
/donkey*.tar.gz
/.lein-repl-history
/.nrepl-port
*~
\#*
*/.DS_Store
.DS_Store
.idea
