pom.xml
*jar
/lib/
/classes/
.lein-repl-history
.lein-deps-sum
.lein-plugins
/bin
/native
/.lein-failures
/checkouts
/.classpath
/.project
/metadactyl
/metadactyl.spec
/metadactyl*.tar.gz
/target
*~
\#*
.dir-locals.el
.*.eld
.nrepl-port
metadactyl.properties
