body {
    text-align: center;
    background: url(../img/brillant.png);
    font: 16px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-shadow: 0px 1px #FFF;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;
    color: #333;
}

table {
    margin: 0px auto;
    border-collapse:collapse;
}

table#unused {
    font-size: 11pt;
}

th {
    font-weight: bold;
    color: #666;
    letter-spacing: 2px;
    text-align: left;
}

td {
    border: 1px solid #C1DAD7;
    background: #FFF;
    padding: 6px 6px 6px 12px;
    color: #6D929B;
}

td.component {
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

td.integrator {
    max-width: 90px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

tr {
    border-radius: 4px;
}

td:nth-child(odd) {
    background: #F5FAFA;
    color: #496F79;
}

#logo {
    margin-bottom: 10px;
    width: 350px;
    height: 90px;
}

#navbar {
    margin: 0px auto;
    margin-top: 100px;
    width: 600px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #A2A2A2;
    border-bottom: 1px solid #BBB;
    border-top-left-radius: 50px 25px;
    border-top-right-radius: 50px 25px;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

a {
    color: #666;
}

a:hover {
    color: #6D929B;
}

a.nav:hover {
    color: #333;
}

a.nav {
    color: #333;
    text-decoration: none;
}

a.nav:visited {
    color: #333;
}

a.nav:visited:hover {
    color: #333;
}

a:visited {
    color: #666;
}

a:visited:hover {
    color: #6D929B;
}

#navbar > a.nav.active {
    padding-bottom: 14px;
    border-bottom: 4px solid #0098AA;
}

a.nav:hover {
    background: -moz-linear-gradient(top,  rgba(187,187,187,0.6) 0%, rgba(232,232,232,0.6) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,187,187,0.6)), color-stop(100%,rgba(232,232,232,0.6))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(187,187,187,0.6) 0%,rgba(232,232,232,0.6) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(187,187,187,0.6) 0%,rgba(232,232,232,0.6) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(187,187,187,0.6) 0%,rgba(232,232,232,0.6) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(187,187,187,0.6) 0%,rgba(232,232,232,0.6) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99bbbbbb', endColorstr='#99e8e8e8',GradientType=0 ); /* IE6-9 */
    padding-top: 10px;
}

#navbar > a.nav:hover {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-bottom: 14px;
    border-bottom: 4px solid #96DBE2;
}

#graph-nav > a.nav.active {
    padding-bottom: 5px;
    border-bottom: 3px solid #0098AA;
}

#graph-nav > a.nav:hover {
    padding-top: 2px;
    padding-bottom: 5px;
    border-bottom: 3px solid #96DBE2;
}

span.nav {
    border-right: 1px solid #AAA;
    display: inline;
}

li.nav {
    display: inline;
    list-style: none;
    text-align: center;
    padding: 10px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 19px;
    padding-right: 19px;
}

#graph-nav {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #A2A2A2;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

#wrapper {
    margin: 0px auto;
    border: 1px solid #A2A2A2;
    border-top: none;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #E5E5E5;
    width: 600px;
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 60px;
}

#inner {
    border-top: 1px solid #AAA;
    border-left: 1px solid #AAA;
    border-bottom: 1px solid #BBB;
    border-right: 1px solid #BBB;
    width: 400px;
    margin: 0px auto;
    background-color: #EFEFEF;
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
    color: #333;
    border-radius: 4px;
}

ul
{
    list-style-image: url('../img/logo_sm.png');
}

#footer {
    height: 100px;
}

.right {
    color: #303030;
    font-weight: bold;
    float: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

/* --- Collapsible Container Stylings --- */
.collapsibleContainer {
    width: 80%;
    margin: 0px auto;
    border: solid 1px #0098AA;
    border-radius: 4px;
    color: #222;
}

.collapsibleContainerTitle {
    cursor:pointer;
}

.collapsibleContainerTitle div {
    padding: 5px;
    border-radius: 4px;
    color: #333;
    background: #65dddf; /* Old browsers */
    background: -moz-linear-gradient(top,  #65dddf 0%, #42d0d2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65dddf), color-stop(100%,#42d0d2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #65dddf 0%,#42d0d2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #65dddf 0%,#42d0d2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #65dddf 0%,#42d0d2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #65dddf 0%,#42d0d2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65dddf', endColorstr='#42d0d2',GradientType=0 ); /* IE6-9 */
}

.collapsibleContainerContent {
    display: none;
    padding: 10px;
}

.collapsibleContainerTitle, .collapsibleContainerTitle div {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.expanded.collapsibleContainerTitle, .expanded.collapsibleContainerTitle div {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.arrow {
    float: right;
    width: 2.8%;
    height: 2.8%;
    position: relative;
    top: 4px;
    opacity: .6;
}

#leaderboard td.name {
    width: 280px;
}

#app-info {
    font-size:8pt;
    border-spacing: 0;
    text-align: center;
}

#app-info th {
    text-align: center;
}

/* --- amChart Stylings --- */
#chart {
    width: 100%;
    height: 400px;
    background: #EFEFEF;
    border-radius: 5px;
    border: 1px solid #A2A2A2;
}

.select {
    position: absolute;
    top: 800px;
    margin-left: 35px;
}

g:nth-child(15) {
    display: none;
}

/* --- Loader Styling --- */
.spinner {
    position: relative;
    bottom: 200px;
}

/* --- CSV Styling --- */
#csv {
    text-align: left;
    font-size: 8pt;
    line-height: 10px;
}

/* --- datepicker fix --- */
#ui-datepicker-div {
    display: none;
}

/* --- tooltip fix --- */

.ui-tooltip {
    font-size: 10pt;
    max-width: 250px;
    background: white;
    padding:8px;
    position:absolute;
    z-index:9999;
    border: 1px solid #C1DAD7;
}
