<configuration scan="true" debug="false">
 <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>%d %-5level [%thread] %logger: %msg%n</pattern>
    </encoder>
  </appender>


  <Logger name="donkey" level="DEBUG" />
  <!-- Configuration Logging -->
  <Logger name="clojure-commons.config" level="INFO" />
  <!-- Request Logging -->
  <Logger name="AccessLogger" level="INFO" />
  <!-- Jargon Logging -->
  <Logger name="org.irods.jargon" level="WARN" />
  <!-- Service Call Trace Message Logging -->
  <Logger name="trace" level="TRACE" />

  <!-- Uncomment to enable HTTP client debugging. -->
  <!--
  <logger name="org.apache.http" level="DEBUG" />
  -->

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
