<configuration scan="true" debug="false">
 <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"service":"jex"}</customFields>
        <fieldNames>
            <logger>loggerName</logger>
            <thread>thread</thread>
            <levelValue>[ignore]</levelValue>
        </fieldNames>
    </encoder>
  </appender>

   <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
       <file>/var/log/jex/jex.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/var/log/jex/jex.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!-- keep 1 week of history -->
            <maxHistory>7</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" >
            <includeContext>false</includeContext>
            <customFields>{"service":"jex"}</customFields>
            <fieldNames>
                <logger>loggerName</logger>
                <thread>thread</thread>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>

  <Logger name="donkey" level="debug" />
  <!-- Configuration Logging -->
  <Logger name="clojure-commons.config" level="INFO"/>
  <!-- Request Logging -->
  <Logger name="AccessLogger" level="INFO" />
  <!-- Jargon Logging -->
  <Logger name="org.irods.jargon" level="ERROR" />
  <!-- Service Call Trace Message Logging -->
  <Logger name="trace" level="TRACE" />

  <root level="INFO">
    <appender-ref ref="ROLLING-FILE"/>
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
