/pom.xml
*jar
/lib
/classes
/native
/.lein-failures
/.lein-plugins
/checkouts
/.lein-deps-sum
/target
/.project
/.classpath
/bin
*~
/notificationagent
/notificationagent*.tar.gz
/notificationagent.spec
/.lein-repl-history
/.settings
